html {
	scroll-behavior: smooth;
}
#nav-bar
{
	font-family: 'Dosis', sans-serif;
}
.navbar {
	background-color:rgba(207, 207, 207, .15);
	font-family: 'Dosis', sans-serif;
}	
.header{
	background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241));
	background-size: 1000% 1000%;
	width: 100%;
	height: 100vh;
	-webkit-animation: gradient 50s ease infinite;
			animation: gradient 50s ease infinite;
	font-family: 'Dosis', sans-serif;
}

.navbar li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-left: 20px;
}


.header_content{
	text-transform: uppercase;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 48%;
	left: 50%;
	color:rgba(255, 255, 255, .8);
	transform: translate(-50%, -50%);
	text-align: center;
/*	border:1px solid red;*/
}

.header_content h2{
	margin-bottom: 50px;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.2em;
}

.header_content h1{
	margin-bottom: 50px;
	font-size: 7vh;
	font-weight: 500;
	letter-spacing: 0.3em;
}
.social_links {
	letter-spacing: 0.6em;
}
.social_icons {
	color: #ffffff;
}
.social_icon_github:hover{
	color:#373b40;
}
.social_icon_linkedin:hover{
	color:#0072b1;
}
.social_icon_twitter:hover{
	color:#00acee;
}
.social_icon_instagram:hover{
	color: #833AB4
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.card:hover {
	box-shadow: 0 2rem 3rem rgba(0,0,0,.175)!important;
	transform: translateY(-2px);
}
.card, .card:hover {
	transition: transform .3s,box-shadow .3s;
}

.progress-bar-animation>* {
	animation: progress 1.5s ease-in-out forwards;
	transform-origin: left;
}

.box div {
	height: 2.5px;
	width: 2.5px;
	position: absolute;
	top: 10%;
	left: 10%;
	animation: animate 4s linear infinite;
	background: rgba(255,255,255,0.8);
	border-radius: 100px;
	}
.box div:nth-child(1) {
	top: 20%;
	left: 20%;
	animation: animate 8s linear infinite;
	}
.box div:nth-child(2) {
	top: 26%;
	left: 89%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(3) {
	top: 80%;
	left: 90%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(4) {
	top: 65%;
	left: 75%;
	animation: animate 7s linear infinite;
	}
.box div:nth-child(5) {
	top: 90%;
	left: 10%;
	animation: animate 9s linear infinite;
	}
.box div:nth-child(6) {
	top: 30%;
	left: 60%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(7) {
	top: 70%;
	left: 33%;
	animation: animate 8s linear infinite;
	}
.box div:nth-child(8) {
	top: 75%;
	left: 60%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(9) {
	top: 23%;
	left: 50%;
	animation: animate 6s linear infinite;
	}
.box div:nth-child(10) {
	top: 35%;
	left: 7%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(11) {
		top: 40%;
		left: 30%;
		animation: animate 8s linear infinite;
		}
.box div:nth-child(12) {
	top: 16%;
	left: 59%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(13) {
	top: 33%;
	left: 67%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(14) {
	top: 87%;
	left: 82%;
	animation: animate 7s linear infinite;
	}
.box div:nth-child(15) {
	top: 11%;
	left: 43%;
	animation: animate 9s linear infinite;
	}
.box div:nth-child(16) {
	top: 55%;
	left: 44%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(17) {
	top: 61%;
	left: 22%;
	animation: animate 8s linear infinite;
	}
.box div:nth-child(18) {
	top: 48%;
	left: 70%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(19) {
	top: 21%;
	left: 49%;
	animation: animate 6s linear infinite;
	}
.box div:nth-child(20) {
	top: 35%;
	left: 9%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(21) {
	top: 90%;
	left: 38%;
	animation: animate 8s linear infinite;
	}
.box div:nth-child(22) {
	top: 77%;
	left: 21%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(23) {
	top: 66%;
	left: 33%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(24) {
	top: 5%;
	left: 65%;
	animation: animate 7s linear infinite;
	}
.box div:nth-child(25) {
	top: 19%;
	left: 23%;
	animation: animate 9s linear infinite;
	}
.box div:nth-child(26) {
	top: 61%;
	left: 13%;
	animation: animate 5s linear infinite;
	}
.box div:nth-child(27) {
	top: 16%;
	left: 19%;
	animation: animate 8s linear infinite;
	}
.box div:nth-child(28) {
	top: 28%;
	left: 20%;
	animation: animate 10s linear infinite;
	}
.box div:nth-child(29) {
	top: 91%;
	left: 4%;
	animation: animate 6s linear infinite;
	}
.box div:nth-child(30) {
	top: 9%;
	left: 53%;
	animation: animate 10s linear infinite;
	}
	
@keyframes animate {
	0% {
		transform:  translateY(0) rotate(50deg);
	}
	100% {
		transform:  translateY(-250px) rotate(360deg);
	}
}
@-webkit-keyframes animate {
	0% {
		transform:  translateY(0) rotate(50deg);
	}
	100% {
		transform:  translateY(-250px) rotate(360deg);
	}
}
@keyframes progress {
	0% {
		transform: scaleX(0);;
	}
	100% {
		transform: scaleX(1);;
	}
}
@-webkit-keyframes progress {
	0% {
		transform: scaleX(0);;
	}
	100% {
		transform: scaleX(1);;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
	